<%@LANGUAGE="VBSCRIPT" CODEPAGE="65001"%>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="{WebOrigin:keywords code="htmlencode" /}" />
<meta name="description" content="{WebOrigin:description code="htmlencode"/}" />
<title>{WebOrigin:title/}</title>
<link href="images/style.css" rel="stylesheet" type="text/css" />
<script src="images/AC_RunActiveContent.js" type="text/javascript"></script>
</head>
<body>
<table width="812" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td><table width="100%%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td><table width="100%%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td><img src="images/homepage_top.png" width="812" height="57" /></td>
          </tr>
        </table></td>
      </tr>
      <tr>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td><table width="100%%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="143" height="32"><a href="/Home/"><img src="images/logo.png" width="143" height="32" border="0" /></a></td>
            <td align="right" valign="top"><table border="0" cellspacing="0" cellpadding="0">
                <tr>
                  <td width="53" height="17" class="Menu_Text"><a href="/Home/">Home</a></td>
                  <td width="1"><img src="images/menu_sp.png" width="1" height="17" /></td>
                  <td width="130" class="Menu_Text"><a href="/Premature_Ejaculation/">Premature Ejaculation</a></td>
                  <td width="1"><img src="images/menu_sp.png" width="1" height="17" /></td>
                  <td width="122" class="Menu_Text"><a href="/Erectile_Dysfunction/">Erectile Dysfunction</a></td>
                  <td width="1"><img src="images/menu_sp.png" width="1" height="17" /></td>
                  <td width="94" class="Menu_Text"><a href="/Treat_by_Exotic/">Treat by Exotic</a></td>
                  <td width="1"><img src="images/menu_sp.png" width="1" height="17" /></td>
                  <td width="78" class="Menu_Text"><a href="/Testimonial/">Testimonial</a></td>
                  <td width="1"><img src="images/menu_sp.png" width="1" height="17" /></td>
                  <td width="74" class="Menu_Text"><a href="/Order_Now/">Order Now</a></td>
                  <td width="1"><img src="images/menu_sp.png" width="1" height="17" /></td>
                  <td width="75" class="Menu_Text"><a href="/Contact_Us/">Contact Us</a></td>
                </tr>
            </table></td>
          </tr>
        </table></td>
      </tr>
      <tr>
        <td><div><script type="text/javascript">
AC_FL_RunContent( 'codebase','http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=9,0,28,0','width','812','height','217','src','/template/images/home_main','quality','high','pluginspage','http://www.adobe.com/shockwave/download/download.cgi?P1_Prod_Version=ShockwaveFlash','movie','/template/images/home_main' ); //end AC code
</script><noscript><object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=9,0,28,0" width="812" height="217">
          <param name="movie" value="images/home_main.swf" />
          <param name="quality" value="high" />
          <embed src="images/home_main.swf" quality="high" pluginspage="http://www.adobe.com/shockwave/download/download.cgi?P1_Prod_Version=ShockwaveFlash" type="application/x-shockwave-flash" width="812" height="217"></embed>
        </object></noscript></div></td>
      </tr>
      <tr>
        <td height="11"></td>
      </tr>
      <tr>
        <td height="334" valign="top"><table width="100%%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td><div>{WebOrigin:inside/}</div></td>
          </tr>
        </table></td>
      </tr>
      <tr>
        <td height="10"></td>
      </tr>
      <tr>
        <td><img src="images/foodbar.png" width="812" height="10" /></td>
      </tr>
      <tr>
        <td height="3"></td>
      </tr>
      <tr>
        <td><table width="100%%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td class="Cpr_Text">&copy; 2008 Exotic™. All right reserved</td>
            <td width="55" class="Cpr_Text">Design by</td>
            <td width="71"><a href="http://www.weborigin.co.nz/"><img src="images/wo_logo.png" width="71" height="10" border="0" /></a></td>
          </tr>
        </table></td>
      </tr>
      <tr>
        <td>&nbsp;</td>
      </tr>
    </table></td>
  </tr>
</table>


</body>
</html>
